@import './styles/theme/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');


$fontPrimary: 'Roboto Mono', monospace;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $fontPrimary;
}

p {
    padding: 0;
}

html, #app>div {
    height: 100%;
}

body {
    background-color: $colorWhite;
    height: 0px;
}

.site {
    height: 100%;
    background-color: $colorWhite;
    
}