

main {
    margin: 2% 15%;
    height: 90vh;
    min-height: 700px;
}

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorJungle;
    color: $colorWhite;
}

a {
    text-decoration: underline;
    color: $colorWhite;
}


a:hover {
    color: $colorGolden;
    transition: 300ms ease;
}

button {
    border: 1px solid $colorOrange;
}


.footer {
    height: 100px;
}