@import './theme/colors.scss';



.home_page {
    max-width: 100vw;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 90vh;

}

.landing_page {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $colorWhite;
}

.title_and_text {
    display: flex;
    flex-direction: column;
}

.title_and_text > h1, p, button {
    margin: 10px;
}

button {
    display: inline;
    padding: 10px 16px 10px 16px;
    border: 2px solid $colorWhite;
    margin-right: 10px;
    background-color: $colorWhite;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
    background-color: $colorOrange;
    color: $colorWhite;
    transition: 300ms;
}