@import './theme/colors.scss';




/* Fullwidth desktop */
@media all and (min-width: 1140px) {
    .nav_anchor {
        font-size: 16px;
    }

    li {
        padding: 20px;
    }

}

/* Tablets and small desktops */
@media all and (max-width: 1139px) and (min-width: 601px) {
    li {
        padding: 20px;
    }
}


/* Small Mobile Devices */
@media only screen and (max-width: 600px) {
    nav {
        padding: 1%;
        height: 10vh;  
    }

    li {
        padding: 5px;
    }
    .nav_anchor {
        font-size: 14px;
    }
  }



/* Styling */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: $colorOrange;
    height: 10vh;
    
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    display: inline-block;
   
}

.nav_anchor {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: $colorWhite;
}
